/* Загальний стиль */
*{
    font-family: "Raleway";
}
body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    max-width: 1030px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 30px;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #d68746;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #d68746;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: #6f478b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #9374ce;
}

/* Стиль для секції з командою */
.team-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow-x: auto; /* Додає горизонтальну прокрутку, якщо блоків більше ніж ширина екрану */
    padding: 10px 0;
    white-space: nowrap; /* Забороняє перенесення блоків */
}

.team-member {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px; /* Фіксована ширина для блоків */
    flex: 0 0 auto; /* Забезпечує, щоб блоки не стискалися */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #cca37e, #FF7F50, #FFE5B4);
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member h3 {
    margin: 10px 0;
    font-size: 1.4rem;
    color: #000000;
}

.team-member p {
    font-size: 1rem;
    color: #666;
}
.falling-peaches {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}

.peach {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('images/delicious-peach-isolated-white-background.png');
    background-size: cover;
    animation: fall 5s linear infinite;
    opacity: 0;
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

/* пофіксити картинку персика(видно тільки половину)*/